@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap');

html{  /* ? Fija la fuente en 14 */
   font-size: 14px;
}

body{
   background-color: white;
}

.cuerpo{
   margin: 0;
   padding: 0;
   max-width: 100%;
}

.barra-superior {  /* ? Ajusta la barra superior */
   display: flex;
   align-items: center;
   padding-bottom: 1rem;
   background-color: #040e27;
   font-family: raleway,sans-serif;
   font-weight: 500;
   font-size: 1rem;
	color: white;
   margin: 0;
   padding: 0;
   height: 3.5rem;
}

.boton-superior {  /* ? Estilo al boton de la barra superior */
   padding-top: 1rem;
   padding-bottom: 1rem;
   font-family: raleway,sans-serif;
   font-size: 1rem;
   line-height: 21px;
   font-weight: 600;
   height: 50px;
   width: 200px;
   background-color: #f0542c;
   border-color: #f0542c;
}

.boton-superior:hover{
   background-color: #040e27;
   border-color: #040e27;
}

.icono{  /* ? Estilo a los botones prev y next del carrusel */
   background-color: rgba(255, 255, 255, 0.2);
   height: 7rem;
   width: 4rem;
   left: 0;
   right: 0;
}

.control-izq, .control-der{  /* ? Estilo al contenedor de los botones del carrusel */
   width: 3rem;
}

.icono:hover{  /* ? Estilo al contenedor de los botones del carrusel */
   background-color: white;
   color: gray;
}

.imagen{  /*? Ajusta la imagen de fondo para móviles  */
   width: 90vh;
   margin: auto;
}

.barra-marca{  /* ? Estilos de la barra de datos de contacto y marca */
   display: flex;
   align-items: center;
   position: absolute;
   height: 11rem;
   background-color: rgba(4, 14, 39, 0.5);
   z-index: 2;
   padding: 4rem;
   padding-top: 2rem;
   padding-bottom: 4rem;
   width: 100%;
}

.contacto{  /* ? Estilo de los datos de contacto de la barra de contacto y marca  */
   text-transform: uppercase;
   display: flex;
   color: white;
   font-family: raleway, sans-serif;
   font-weight: 400;
   padding-left: 10rem;
   justify-content: space-between;
   margin: auto;
   width: 100%;
}


.titulo-barra{  /* ? Estilos de los títulos de contacto de la barra de contacto y marca */
   text-transform: uppercase;
   font-family: raleway, sans-serif;
   font-size: 1.2rem;
   color: #f0542c;
   margin-bottom: 0;
}

.contacto p{ /* ? Tamaño de fuente para datos de la barra de contacto y marca */
   font-size: 1.2rem;
}

.contenedor-capa{ /* ? Capa de color sobre el carrusel */
   position: absolute;
   margin: 0;
   padding: 0;
   z-index: 1;
   width: 100%;
   height: 100vh;
   background-color: rgba(4, 14, 39, 0.5);
}

.carrusel{  /* ? Ajuste del carrusel */
   margin: 0;
   padding: 0;
}

.carousel-item{  /* ? Ajusta el tamaño máximo para las imágenes del carrusel */
   max-height: 100vh;
}

.navbar-menu{ /* ? Ajuste del navbar para ubicarlo de forma flotante */
   display: flex;
   position: absolute;
   width: 80%;
   z-index: 2;
   top: 12rem;
   left: 10%;
}

.navbar-menu .navbar{ /* ? Estilos de letra y tamaño al navbar menu */
   font-family: raleway, sans-serif;
   font-size: 1.1rem;
   font-weight: 500;
   height: 5rem;
   border-radius: 0.7rem;
}

.navbar .active{ /* ? Da estilo al nombre de la página activa */
   border-bottom: 3px solid orangered;
}

.navbar li{ /* ? Da margen a los elementos del navbar */
   margin-left: 1rem;
   margin-right: 1rem;
}

.nav-link{ /* ? Color para las letras del navbar menú */
   color: rgba(0, 0, 0, 0.5)
}

.nav-link:hover{ /* ? color al hacer hover sobre el navbar menú */
   color: #f0542c;
}

.navbar li:hover{  /* ? Efecto en los elementos navbar */
   transition-duration: 0.2s;
   border-bottom: 3px solid #f0542c;
}

.contenedor-mensaje-principal{ /* ? Ajusta el estilo del contenedor del mensaje principal */
   display: flex;
   flex-wrap: wrap;  /** Evita que título y subtítulo ocupen la misma línea y los ubica uno sobre el otro */
   text-align: center;
   position: absolute;
   z-index: 2;
   top: 40%;
   width: 80%;
   left: 10%;
   height: auto;
   justify-content: center;
}

.contenedor-mensaje-principal p:first-child{  /* ? Ajusta el estilo del texto del mensaje principal */
   margin: 0;
   padding: 0;
   text-transform: uppercase;
   font-size: 4.3rem;
   line-height: 5rem;
   font-family: raleway, sans-serif;
   font-weight: bolder;
   color: white;

}

.contenedor-mensaje-principal p:last-child{ /* ? Estilos para el subtítulo principal */
   margin: 0;
   padding: 0;
   text-transform: uppercase;
   font-family: raleway, sans-serif;
   font-weight: 600;
   font-size: 1.3rem;
   line-height: 2rem;
   color: white;
}


 