@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");

html {
	/* ? Fija la fuente en 14 */
	font-size: 14px;
}

body {
	background-color: white;
	margin: 0;
	padding: 0;
}

.contenedor-barra-superior {
	/* ? Estilo del contenedor de la barra superior */
	background-color: #040e27;
}

.barra-superior {
	/* ? Ajusta la barra superior */
	display: flex;
	align-items: center;
	padding-bottom: 1rem;
	font-family: raleway, sans-serif;
	font-weight: 500;
	font-size: 1rem;
	color: white;
	margin: 0;
	padding: 0;
	height: 4rem;
	width: 100vw;
	max-width: 1920px;
	z-index: 2;
}

.boton-superior {
	/* ? Estilo al boton de la barra superior */
	padding-top: 1rem;
	padding-bottom: 1rem;
	font-family: raleway, sans-serif;
	font-size: 1rem;
	line-height: 1.5rem;
	font-weight: 600;
	height: 50px;
	width: 200px;
	background-color: #f0542c;
	border-color: #f0542c;
	text-transform: uppercase;
}

.boton-superior:hover {
	background-color: #040e27;
	border-color: #040e27;
}

.barra-marca {
	/* ? Estilos de la barra de datos de contacto y marca */
	display: flex;
	align-items: center;
	height: auto;
	margin: 0;
	background-color: rgba(4, 14, 39, 0.5);
	height: 9rem;
	width: 100vw;
	max-width: 1920px;
	z-index: 2;
}

.contacto {
	/* ? Estilo de los datos de contacto de la barra de contacto y marca  */
	text-transform: uppercase;
	color: white;
	font-family: raleway, sans-serif;
	font-weight: 400;
	width: 100%;
	justify-content: space-around;
}

.contacto p:first-child {
	font-size: 0.9rem;
}
.contacto p:last-child {
	font-size: 1rem;
}

.titulo-barra {
	/* ? Estilos de los títulos de contacto de la barra de contacto y marca */
	text-transform: uppercase;
	font-family: raleway, sans-serif;
	color: #f0542c;
	margin-bottom: 0;
}

.navbar-menu {
	/* ? Ajuste del navbar para ubicarlo de forma flotante */
	height: 5rem;
	margin-top: -2.5rem;
	z-index: 4;
	top: 0;
	background-color: transparent;
	transition: 1s;
}

.navbar-sticky {
	/* ? Estilo del navbar al pegarse al top, manejado por jquery */
	background-color: rgba(255, 255, 255, 0.96);
	position: sticky;
}

.navbar-menu .navbar {
	/* ? Estilos de letra y tamaño al navbar menu */
	font-family: raleway, sans-serif;
	font-size: 1.2rem;
	font-weight: 500;
	border-radius: 0.7rem;
	height: 5rem;
	z-index: 4;
	background-color: white;
}

.navbar-nav .nav-item .nav-link,
.dropdown-item {
	font-size: 1.2rem;
	color: rgba(0, 0, 0, 0.5); /* ? Color de las letras de la barra de menú */
}

.navbar-nav .nav-item .nav-link:hover,
.dropdown-item:hover {
	color: #f0542c; /* ? Efecto de cambio de color al hacer hover en el menú */
	transition-duration: 500ms;
}

.navbar li:hover {
	/* ? Efecto en los elementos navbar */
	transition-duration: 0.3s;
	border-bottom: 3px solid #f0542c;
}

.navbar .active {
	/* ? Da estilo al nombre de la página activa */
	border-bottom: 3px solid orangered;
}

.navbar li {
	/* ? Da margen a los elementos del navbar */
	margin-left: 1rem;
	margin-right: 1rem;
}

.navbar-nav {
	background-color: white;
}

@media (max-width: 991px) {
	/* ? Ajuste de elementos para pantallas inferiores a LG  */
	.navbar-menu .navbar {
		/* ? ajuste de navbar */
		background-color: #040e27 !important;
		padding: 0;
		margin: 0;
		width: 100vw;
		border-radius: 0rem;
		max-height: 5rem;
	}

	.navbar-toggler {
		/* ? estilo del boton toggler */
		background-color: white;
		margin-right: 2rem;
	}

	.collapse,
	.navbar-collapse {
		/* ? Estilos para el menú desplegable */
		background-color: white;
		width: 90%;
		margin: 0rem 1rem 0rem 1rem;
		padding-bottom: 1rem;
	}

	.navbar-menu {
		/* ? ajuste de posición del navbar */
		margin: 0;
		padding: 0;
	}

	.navbar-menu .container {
		/* ? ajuste del contenedor del navbar */
		margin: 0;
		padding: 0;
	}

	.mensaje-principal {
		/* ? ajusta el contenedor de titulos para pantallas pequeñas */
		max-height: 60vh;
	}

	.contenedor-mensaje-principal {
		/* ? Ajusta el estilo del contenedor del mensaje principal */
		display: flex;
		flex-wrap: wrap; /** Evita que título y subtítulo ocupen la misma línea y los ubica uno sobre el otro */
		text-align: center;
		height: auto;
		justify-content: center;
		margin-top: 1rem;
	}

	.contenedor-mensaje-principal p:first-child {
		/* ? Ajusta el estilo del texto del mensaje principal */
		margin: 0;
		padding: 0;
		text-transform: uppercase;
		font-size: 2rem;
		line-height: 2rem;
		font-family: raleway, sans-serif;
		font-weight: bolder;
		color: white;
		z-index: 2;
	}

	.contenedor-mensaje-principal p:last-child {
		/* ? Estilos para el subtítulo principal */
		margin-top: 1rem;
		padding: 0;
		text-transform: uppercase;
		font-family: raleway, sans-serif;
		font-weight: bolder;
		font-size: 1rem;
		line-height: 1rem;
		color: white;
		z-index: 2;
		margin-bottom: 0;
	}

	.boton-principal {
		/* ? Estilos del botón principal */
		display: flex;
		align-items: center;
		padding: 0.7rem;
		z-index: 3;
		height: auto;
		width: auto;
		font-family: raleway, sans-serif;
		font-size: 1rem;
		background-color: #f0542c;
		color: white;
		border: none;
	}

	.contenedor-carrusel {
		/* ? ubicación del carrusel en el dom */
		position: absolute;
		top: 4rem;
		z-index: -1; /* ! Este ajuste permite mostrar el cardgroup sobre el carrusel pero evita q se desplace el carrusel a mano para pantallas md e inferiores */
	}

	.card-group {
		/* ? Ajuste cardgroup para visualización vertical */
		margin-top: 5rem;
		display: flex;
		flex-direction: column;
		background-color: white;
	}

	.card {
		/* ? Ajuste del contenedor card para visualización adecuada */
		padding-top: 0;
		padding-bottom: 0;
		margin-top: 1rem;
		margin-bottom: 0;
		background-color: white;
	}

	.contenedor-nosotros {
		border-bottom: 1px solid rgba(0, 0, 0, 0.2);
		padding-bottom: 1rem;
		margin-bottom: 2rem;
	}

	.contenedor-boton-sobre-nosotros {
		/* ? ubica el boton del área nosotros en el centro de la pantalla */
		display: flex;
		justify-content: center;
		padding: 1rem;
	}

	.contenedor-servicios .contenedor-owlcarousel .item {
		/* ? Ajusta el pading para el owlcarousel */
		padding: 1rem;
	}

	.navbar-proyectos {
		/* ? Estilo navbar proyectos */
		display: flex;
		flex-direction: row;
		transition-duration: 0.3s;
		text-decoration: none;
		margin-left: 2rem;
		color: #596672;
		font-family: raleway, sans-serif;
		font-size: 1.2rem;
		font-weight: 500;
		line-height: 1.5rem;
		padding-left: 0;
	}
}

@media (min-width: 992px) {
	/* ? pantallas desde lg */
	.navbar-menu {
		/* ? Ajuste del navbar para ubicarlo de forma flotante */
		width: 100%;
		height: 5rem;
		margin-top: -2.5rem;
	}

	.imagen {
		/* ? Ajuste de tamaño máximo del carrusel, IMPORTANTE */
		max-height: 720px;
	}

	.contenedor-mensaje-principal {
		/* ? Ajusta el estilo del contenedor del mensaje principal */
		display: flex;
		flex-wrap: wrap; /** Evita que título y subtítulo ocupen la misma línea y los ubica uno sobre el otro */
		text-align: center;
		height: auto;
		justify-content: center;
		margin: 4rem auto 0 auto;
		width: 95%;
	}

	.contenedor-mensaje-principal p:first-child {
		/* ? Ajusta el estilo del texto del mensaje principal */
		margin: 0;
		padding: 0;
		text-transform: uppercase;
		font-size: 4.8rem;
		line-height: 4.8rem;
		font-family: raleway, sans-serif;
		font-weight: bolder;
		color: white;
		z-index: 2;
	}

	.contenedor-mensaje-principal p:last-child {
		/* ? Estilos para el subtítulo principal */
		margin-top: 2rem;
		padding: 0;
		text-transform: uppercase;
		font-family: raleway, sans-serif;
		font-weight: 600;
		font-size: 2rem;
		line-height: 2rem;
		color: white;
		z-index: 2;
		margin-bottom: 3rem;
	}

	.boton-principal {
		/* ? estilos del botón principal */
		display: flex;
		align-items: center;
		z-index: 3;
		height: 5rem;
		width: auto;
		padding: 3rem;
		font-family: raleway, sans-serif;
		font-size: 1.5rem;
		background-color: #f0542c;
		color: white;
		border: none;
	}

	.contenedor-carrusel {
		/* ? ubicación del carrusel en el dom */
		position: absolute;
		top: 4rem;
	}

	.contenedor-cardgroup {
		/* ? Ajusta la posición del cardgroup */
		margin-top: 5rem;
	}

	.card {
		/* ? Estilos de las tarjetas del cardgroup */
		z-index: 2;
		font-family: raleway, sans-serif;
		font-size: 1.2rem;
		color: rgba(0, 0, 0, 0.5);
		text-align: center;
		border: none;
		padding: 2rem;
	}

	.contenedor-nosotros {
		/* ? situa el contenedor de la sección nosotros */
		margin-top: 7rem;
		border-bottom: 1px solid rgba(0, 0, 0, 0.2);
		padding-bottom: 5rem;
		margin-bottom: 3rem;
	}

	.contenedor-servicios .contenedor-owlcarousel .item {
		/* ? Elimina el padding para pantallas pequeñas del owlcarousel */
		padding: 0;
	}

	.navbar-proyectos li {
		/* ? Estilo navbar proyectos */
		transition-duration: 0.3s;
		text-decoration: none;
		margin-left: 2rem;
		color: #596672;
		font-family: raleway, sans-serif;
		font-size: 1.2rem;
		font-weight: 500;
		line-height: 1.5rem;
	}
}

.card .card-title {
	/* ? Estilos de los títulos del cardgroup */
	color: black;
	font-size: 2rem;
	margin-top: 5rem;
}

.icono-card {
	/* ? Estilos de los textos del cardgroup */
	-webkit-text-stroke: 2px #f0542c;
	color: white;
	font-size: 5rem;
	margin-top: 3rem;
}

.card:hover {
	/* ? Ajusta la sombra al hacer hover sobre una tarjeta del cardgroup */
	box-shadow: inset 5px -5px 15px 5px rgba(0, 0, 0, 0.2);
}

.contenedor-capa {
	/* ? Capa de color sobre el carrusel */
	position: absolute;
	top: 0;
	width: 100%; /* ? ocupa el ancho de la pantalla */
	height: 100%;
	background-color: rgba(4, 14, 39, 0.5);
	z-index: 1;
}

.boton-principal:hover {
	/* ? efecto al hacer hover sobre el botón principal */
	background-color: #040e27;
}

.carousel-control-prev {
	/* ? ubica la flecha prev del carrusel a la izq */
	justify-content: start;
}

.carousel-control-next {
	/* ? ubica la flecha next del carrusel a la derecha */

	justify-content: flex-end;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
	/* ? Tamaño del contenedor siguiente y prev del carrusel */
	height: 8rem;
	width: 3rem;
	background-color: rgba(0, 0, 0, 0.5);
}

.patron {
	/* ? Ubica la imagen de adorno para la foto de la sección nosotros */
	background-image: url("../images/patron.png");
	width: 155px;
	height: 185px;
	position: absolute;
	box-shadow: -5px 5px 15px rgba(0, 0, 0, 0.2);
	left: -10px;
	top: -50px;
	z-index: -1;
}

.foto-nosotros {
	/* ? Ubica la imagen del conentedor nosotros */
	background-image: url("../images/nosotros.png");
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	height: 550px;
	width: 490px;
	max-width: 90vw; /* ? para pantallas móviles */
}

.titulo-nosotros {
	/* ? Estilo título del área nosotros */
	font-family: raleway, sans-serif;
	text-transform: capitalize;
	color: #040e27;
	font-size: 2.8rem;
}

.texto-nosotros p:first-of-type {
	/* ? Estilo texto principal área nosotros */
	font-family: raleway;
	color: #040e27;
	font-size: 1.5rem;
	font-weight: 100;
}

.texto-nosotros p:last-of-type {
	/* ? Estilos texto secundaroi área nosotros */
	font-family: raleway, sans-serif;
	color: #596672;
	font-size: 1.2rem;
	font-weight: 400;
	line-height: 2rem;
	margin-bottom: 0rem;
}

.boton-nosotros {
	/* ? estilos del botón principal */
	display: flex;
	align-items: center;
	height: 5rem;
	width: auto;
	padding: 1rem;
	font-family: raleway, sans-serif;
	font-size: 1.5rem;
	background-color: #f0542c;
	color: white;
	border: none;
}

.boton-nosotros:hover {
	/* ? Estilo del boton área nosotros */
	border: #040e27;
	background-color: #040e27;
}

.enlace-nosotros:link {
	/* ? retirar subrayado boton área nosotros */
	text-decoration: none;
}

.contenedor-servicios {
	/* ? Estilo del contendor de nuestros servicios */
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
	padding-bottom: 3rem;
	margin-bottom: 3rem;
}

.titulo-principal {
	/* ? Estilo de títulos nuestros servicios, contacto, etc */
	font-family: raleway, sans-serif;
	font-size: 3rem;
	color: #040e27;
	font-weight: 600;
	line-height: 1.2;
}

.contenedor-owlcarousel h3 {
	/* ? Estilos titulos owlcarousel */
	font-size: 1.8rem;
	font-weight: 600;
	line-height: 2.2rem;
}

.titulo-hoverIn {
	/* ? Añade un estilo al hacer hover sobre el owl carousel */
	transition-duration: 200ms;
	transition-timing-function: cubic-bezier();
	color: #f0542c;
}

.titulo-hoverOut {
	/* ? Añade un estilo al hacer hover sobre el owl carousel */
	transition-duration: 200ms;
	transition-timing-function: cubic-bezier();
	color: #040e27;
}

.contenedor-owlcarousel p:first-child {
	/* ? Estilo texto owl carousel */
	text-align: justify;
	color: #596672;
	font-weight: 400;
	font-size: 1.2rem;
	line-height: 2rem;
}

.contenedor-owlcarousel a:any-link {
	/* ? Estilo link olwcarousel */
	text-decoration: none;
	color: #f0542c;
	font-size: 1.2rem;
	font-weight: 600;
	line-height: 2rem;
	text-align: left;
}

.contenedor-img-owlcarousel {
	/* ? Ajusta el contenedor de las imagenes del owl carousel */
	max-height: fit-content; /* ? Ajusta el tamaño máximo del contenedor al tamaño inicial de la imagen */
	overflow: hidden; /* ? Al hacer zoom sobre la imagen oculta los bordes restantes que quedan fuera del contenedor */
	margin: 1rem;
}

.img-in {
	/* ? Esta clase se añade al hacer hover sobre el owl carousel y permite hacer zoom sobre cada imagen en particular */
	transform: scale(1.3);
	transition: 0.3s;
	transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.img-out {
	/* ? Esta clase se añade al hacer hover sobre el owl carousel y retira el zoom sobre cada imagen en particular */
	transform: scale(1);
	transition: 0.3s;
	transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.contenedor-owlcarousel {
	/* ? permite ubicar la imagen patrón dentro del owlcarousel */
	position: relative;
}

.patron2 {
	/* ? Ubica la imagen de adorno para la foto de la sección nosotros */
	background-image: url("../images/patron.png");
	width: 155px;
	height: 185px;
	position: absolute;
	right: -10px;
	top: -100px;
	z-index: -1;
}

.navbar-proyectos li:hover {
	/* ? Estilos al hacer hover sobre el navbar proyectos */
	color: #f0542c;
	transition: ease-in-out;
	transition-duration: 0.3s;
	cursor: pointer;
}

.navbar-proyectos {
	/*  ? Elimina el estilo de lista del navbar */
	list-style-type: none;
}

.img-proyecto {
	/* ? Ajusta el contenedor de las imagenes del área de proyecto */
	max-height: fit-content; /* ? Ajusta el tamaño máximo del contenedor al tamaño inicial de la imagen */
	overflow: hidden; /* ? Al hacer zoom sobre la imagen oculta los bordes restantes que quedan fuera del contenedor */
}

.imgPro-in {
	/* ? Esta clase se añade al hacer hover sobre el owl carousel y permite hacer zoom sobre cada imagen en particular */
	transform: scale(1.2);
	transition: 0.2s;
	transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.imgPro-out {
	/* ? Esta clase se añade al hacer hover sobre el owl carousel y retira el zoom sobre cada imagen en particular */
	transform: scale(1);
	transition: 0.2s;
}

.mensaje-proyecto {
	/* ? Estilos del mensaje al hacer hover sobre las imágenes de proyectos */
	width: 90%;
	margin-left: 5%;
	height: 5rem;
	padding: 1.5rem 3rem;
	border-radius: 0.3rem;
	background-color: white;
	position: absolute;
	margin-top: -30%;
	visibility: hidden; /* ? Inicializa el elemento como oculto */
}

.mensaje-proyecto span:first-child {
	/* ? Estilos del texto del mensaje de proyectos */
	color: #040e27;
	font-size: 1.4rem;
	font-weight: 500;
}

.mensaje-proyecto span:last-child {
	/* ? Estilo del icono "ver más" del mensaje proyecto */
	background-color: #f0542c;
	border-radius: 1.5rem; /* ? Fondo redondeado, mitad del tamaño del elemento */
	width: 3rem;
	height: 3rem;
	color: white;
	font-size: 2rem;
	margin-top: -0.6rem; /* ? usado para ajustar la posición */
}

.mensaje-proyecto span:last-child:hover {
	/* ? Hace que el cursor sea puntero al hacer hover sobre el ícono "ver más" del mensaje de proyectos */
	cursor: pointer;
}

.hide-mensaje-proyecto {
	/* ? Clase usada para ocultar el mensaje al salir de cada imágen de proyectos */
	visibility: hidden;
	transition: 0.4s;
}

.show-mensaje-proyecto {
	/* ? Clase usada para mostrar el mensaje al hacer hover en cada imagen de proyectos */
	visibility: visible;
	transition: 0.4s;
}

.animate__animated.animate__fadeInUp {
	/* ? Velocidad de la clase de animated.css */
	--animate-duration: 0.5s;
}

.animate__animated.animate__fadeOutDown {
	/* ? Velocidad de la clase de animated.css */
	--animation-duration: 0.3s;
}

.ocultar-img-proyecto {
	/* ? Oculta las imagenes al filtrarlas en el área proyecto */
	display: none;
	transition: 10s;
}

.mensaje-proyecto i {
	/* ? Color para las flechas dentro del mensaje de las imágenes de proyectos */
	color: white;
}

.boton-proyectos {
	/* ? Estilos de la etiqueta ancla del botón más proyectos */
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 5rem;
	padding-top: 1.5rem;
	padding-bottom: 1.5rem;
	border: none;
	background-color: #f0542c;
	font-weight: 400;
	color: white;
	font-family: raleway, sans-serif;
	font-size: 2rem;
	margin-top: 0.1rem;
}

.boton-proyectos:any-link {
	/* ? Elimina las decoraciones del botón más proyectos */
	text-decoration: none;
	color: white;
}

.contenedor-eligenos {
	padding-top: 10rem;
	padding-bottom: 10rem;
	background-image: url(../images/chose_banner.png);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.contenedor-eligenos .titulo-principal {
	/* ?  Estilos título elígenos */
	color: #040e27;
	font-weight: 400;
}

.contenedor-eligenos p:first-of-type {
	/* ? Estilo primer párrafo elígenos */
	margin-top: 2rem;
	padding: 0;
	font-family: raleway, sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 1.3rem;
	line-height: 2rem;
	color: #040e27;
	margin-bottom: 1.5rem;
}

.contenedor-eligenos p:last-of-type {
	/* ? Estilo último párrafo elígenos */
	margin-top: 1rem;
	padding: 0;
	font-family: raleway, sans-serif;
	font-weight: 400;
	font-size: 1.1rem;
	line-height: 2rem;
	color: #596672;
	margin-bottom: 2rem;
}

.boton-video {
	/* ? Estilos botón reproducir video */
	background-color: white;
	width: 4rem;
	height: 4rem;
	font-size: 1rem;
	border-radius: 2rem;
	color: #f0542c;
}

.boton-modal:hover {
	/* ? Efecto al hacer hover sobre el boton play del video modal */
	cursor: pointer;
}

.boton-modal:any-link {
	/* ? Elimina estilos del link del botón video */
	text-decoration: none;
}

.modal-content {
	/* ? Estilos del contenedor del video modal */
	background-color: rgba(0, 0, 0, 0.5);
}

.modal-content h3 {
	/* ? Estilos del título del contenedor modal */
	color: white;
	font-family: raleway, sans-serif;
}

.contenedor-testimonios {
	/* ? Ubicación del contenedor testimonios */
	margin-top: 7rem;
	font-family: raleway, sans-serif;
}

.contenedor-testimonios .item img {
	/* ? Estilos de la foto de testimonios */
	width: 120px !important;
	height: 120px;
	border-radius: 60px;
}

.contenedor-testimonios h4 {
	/* ? estilos contenedor testimonios */
	font-weight: 900;
	font-size: 1.8rem;
	line-height: 2rem;
	color: #040e27;
}

.contenedor-testimonios h6 {
	/* ? estilos titulos testimonios */
	font-weight: 400;
	font-size: 1.2rem;
	line-height: 1.5rem;
	color: #596672;
}

.contenedor-testimonios p {
	/* ? estilos titulos testimonios */
	font-weight: 400;
	font-size: 1.5rem;
	line-height: 2rem;
	color: #040e27;
}

.owl-dots {
	/* ? Elimina los botones para desplazarse en el owlcarousel */
	display: none;
}

.contenedor-contacto {
	/* ? Estilos del contenedor contacto */
	margin-top: 5rem;
	background-image: url("../images/contact.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	color: white;
	font-family: raleway, sans-serif;
	padding-top: 10rem;
	padding-bottom: 10rem;
	position: relative; /* ? Usado para permitir ubicar la capa de transparencia sobre él */
}

.contenedor-contacto p {
	/* ? Estilos del texto del área contacto */
	font-size: 3rem;
	font-weight: 600;
	line-height: 3.5rem;
}

.contenedor-contacto .contenedor-capa {
	/* ? Capa de color sobre el área de contacto */
	position: absolute;
	top: 0;
	width: 100%; /* ? ocupa el ancho de la pantalla */
	height: 100%;
	background-color: rgba(4, 14, 39, 0.5);
	z-index: 0;
}

.contenedor-contacto .boton-nosotros {
	/* ? Estilos botón contacto */
	padding: 1rem 3rem;
	height: 5rem;
	width: auto;
}

.contenedor-contacto a:any-link {
	/* ? Estilos ancla boton contacto */
	text-decoration: none;
}
