@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap");

html {
	/* ? Fija la fuente en 14 */
	font-size: 14px;
}

body {
	background-color: white;
	margin: 0;
	padding: 0;
}

.contenedor-barra-superior{ /* ? Estilo del contenedor de la barra superior */
	background-color: #040e27;
}

.barra-superior { /* ? Ajusta la barra superior */
	display: flex;
	align-items: center;
	padding-bottom: 1rem;
	font-family: raleway, sans-serif;
	font-weight: 500;
	font-size: 1rem;
	color: white;
	margin: 0;
	padding: 0;
	height: 4rem;
	width: 100vw;
	max-width: 1920px;
	z-index: 2;
}

.boton-superior {
	/* ? Estilo al boton de la barra superior */
	padding-top: 1rem;
	padding-bottom: 1rem;
	font-family: raleway, sans-serif;
	font-size: 1rem;
	line-height: 1.5rem;
	font-weight: 600;
	height: 50px;
	width: 200px;
	background-color: #f0542c;
	border-color: #f0542c;
	text-transform: uppercase;
}

.boton-superior:hover {
	background-color: #040e27;
	border-color: #040e27;
}

.barra-marca {
	/* ? Estilos de la barra de datos de contacto y marca */
	display: flex;
	align-items: center;
	height: auto;
	margin: 0;
	background-color: rgba(4, 14, 39, 0.5);
	height: 9rem;
	width: 100vw;
	max-width: 1920px;
	z-index: 2;
}

.contacto {
	/* ? Estilo de los datos de contacto de la barra de contacto y marca  */
	text-transform: uppercase;
	color: white;
	font-family: raleway, sans-serif;
	font-weight: 400;
	width: 100%;
	justify-content: space-around;
}

.contacto p:first-child {
	font-size: 0.9rem;
}
.contacto p:last-child {
	font-size: 1rem;
}

.titulo-barra {
	/* ? Estilos de los títulos de contacto de la barra de contacto y marca */
	text-transform: uppercase;
	font-family: raleway, sans-serif;
	color: #f0542c;
	margin-bottom: 0;
}

.navbar-menu {
	/* ? Ajuste del navbar para ubicarlo de forma flotante */
	width: 100%;
	height: 5rem;
	margin-top: -2.5rem;
}

.navbar-menu .navbar {
	/* ? Estilos de letra y tamaño al navbar menu */
	font-family: raleway, sans-serif;
	font-size: 1.2rem;
	font-weight: 500;
	border-radius: 0.7rem;
	height: 5rem;
	z-index: 4;
}

.navbar-nav .nav-item .nav-link,
.dropdown-item {
	font-size: 1.2rem;
	color: rgba(0, 0, 0, 0.5); /* ? Color de las letras de la barra de menú */
}

.navbar-nav .nav-item .nav-link:hover,
.dropdown-item:hover {
	color: #f0542c; /* ? Efecto de cambio de color al hacer hover en el menú */
	transition-duration: 500ms;
}

.navbar li:hover {
	/* ? Efecto en los elementos navbar */
	transition-duration: 0.3s;
	border-bottom: 3px solid #f0542c;
}

.navbar .active {
	/* ? Da estilo al nombre de la página activa */
	border-bottom: 3px solid orangered;
}

.navbar li {
	/* ? Da margen a los elementos del navbar */
	margin-left: 1rem;
	margin-right: 1rem;
}

@media (max-width: 767px) {  /* ? Ajuste de elementos para pantallas inferiores a LG  */
	.navbar-menu .navbar {
		/* ? ajuste de navbar */
		background-color: #040e27 !important;
		padding: 0;
		margin: 0;
		width: 100vw;
		border-radius: 0rem;
		max-height: 5rem;
	}

	.navbar-toggler {
		/* ? estilo del boton toggler */
		background-color: white;
		margin-right: 2rem;
	}

	.collapse,
	.navbar-collapse {
		/* ? Estilos para el menú desplegable */
		background-color: white;
		width: 90%;
		margin: 0rem 1rem 0rem 1rem;
		padding-bottom: 1rem;
	}

	.navbar-menu {
		/* ? ajuste de posición del navbar */
		margin: 0;
		padding: 0;
	}

	.navbar-menu .container {
		/* ? ajuste del contenedor del navbar */
		margin: 0;
		padding: 0;
	}

	.mensaje-principal {
		/* ? ajusta el contenedor de titulos para pantallas pequeñas */
		max-height: 60vh;
	}

	.contenedor-mensaje-principal {
		/* ? Ajusta el estilo del contenedor del mensaje principal */
		display: flex;
		flex-wrap: wrap; /** Evita que título y subtítulo ocupen la misma línea y los ubica uno sobre el otro */
		text-align: center;
		height: auto;
		justify-content: center;
		margin-top: 1rem;
	}

	.contenedor-mensaje-principal p:first-child {
		/* ? Ajusta el estilo del texto del mensaje principal */
		margin: 0;
		padding: 0;
		text-transform: uppercase;
		font-size: 2rem;
		line-height: 2rem;
		font-family: raleway, sans-serif;
		font-weight: bolder;
		color: white;
		z-index: 2;
	}

	.contenedor-mensaje-principal p:last-child {
		/* ? Estilos para el subtítulo principal */
		margin-top: 0.5rem;
		padding: 0;
		text-transform: uppercase;
		font-family: raleway, sans-serif;
		font-weight: bolder;
		font-size: 1rem;
		line-height: 1rem;
		color: white;
		z-index: 2;
		margin-bottom: 0;
	}

	.boton-principal { /* ? Estilos del botón principal */
		display: flex;
		align-items: center;
		padding: 0.7rem;
		z-index: 3;
		height: auto;
		width: auto;
		font-family: raleway, sans-serif;
		font-size: 1rem;
		background-color: #f0542c;
		color: white;
		border: none;
	}

	.contenedor-carrusel {  /* ? ubicación del carrusel en el dom */
		position: absolute;
		top: 4rem;
		z-index: 0;
	}

	.card-group{  /* ? Ajuste cardgroup para visualización vertical */
		margin-top: 5rem;
		display: flex;
		flex-direction: column;
	}

	.card{ /* ? Ajuste del contenedor card para visualización adecuada */
		padding-top: 0;
		padding-bottom: 0;
		margin-top: 1rem;
		margin-bottom: 0;
	}
}

@media (min-width: 768px) {  /* ? pantallas desde lg */
	.imagen{  /* ? Ajuste de tamaño máximo del carrusel, IMPORTANTE */
		max-height: 720px;
	}

	.contenedor-mensaje-principal {
		/* ? Ajusta el estilo del contenedor del mensaje principal */
		display: flex;
		flex-wrap: wrap; /** Evita que título y subtítulo ocupen la misma línea y los ubica uno sobre el otro */
		text-align: center;
		height: auto;
		justify-content: center;
		margin: 4rem auto 0 auto;
		width: 95%;
	}

	.contenedor-mensaje-principal p:first-child {
		/* ? Ajusta el estilo del texto del mensaje principal */
		margin: 0;
		padding: 0;
		text-transform: uppercase;
		font-size: 4.8rem;
		line-height: 4.8rem;
		font-family: raleway, sans-serif;
		font-weight: bolder;
		color: white;
		z-index: 2;
	}

	.contenedor-mensaje-principal p:last-child {
		/* ? Estilos para el subtítulo principal */
		margin-top: 2rem;
		padding: 0;
		text-transform: uppercase;
		font-family: raleway, sans-serif;
		font-weight: 600;
		font-size: 2rem;
		line-height: 2rem;
		color: white;
		z-index: 2;
		margin-bottom: 3rem;
	}

	.boton-principal {  /* ? estilos del botón principal */
		display: flex;
		align-items: center;
		z-index: 3;
		height: 5rem;
		width: auto;
		padding: 3rem;
		font-family: raleway, sans-serif;
		font-size: 1.5rem;
		background-color: #f0542c;
		color: white;
		border: none;
	}

	.contenedor-carrusel {  /* ? ubicación del carrusel en el dom */
		position: absolute;
		top: 4rem;
	}

	.contenedor-cardgroup{ /* ? Ajusta la posición del cardgroup */
		margin-top: 5rem;
	}

	.card{  /* ? Estilos de las tarjetas del cardgroup */
		z-index: 2;
		font-family: raleway, sans-serif;
		font-size: 1.2rem;
		color: rgba(0, 0, 0, 0.5);
		text-align: center;
		border: none;
		padding: 2rem;
	}

	.contenedor-nosotros{ /* ? situa el contenedor de la sección nosotros */
		margin-top: 7rem;		
	}
}

.card .card-title{ /* ? Estilos de los títulos del cardgroup */
	color: black;
	font-size: 2rem;
	margin-top: 5rem;
}	

.icono-card{  /* ? Estilos de los textos del cardgroup */
	-webkit-text-stroke: 2px #f0542c;
	color: white;
	font-size: 5rem;
	margin-top: 3rem;
}

.card:hover{ /* ? Ajusta la sombra al hacer hover sobre una tarjeta del cardgroup */
	box-shadow: inset 5px -5px 15px 5px rgba(0, 0, 0, 0.2);
}

.contenedor-capa {
	/* ? Capa de color sobre el carrusel */
	position: absolute;
	top: 0;
	width: 100%; /* ? ocupa el ancho de la pantalla */
	height: 100%;
	background-color: rgba(4, 14, 39, 0.5);
	z-index: 1;
}

.boton-principal:hover { /* ? efecto al hacer hover sobre el botón principal */
	background-color: #040e27;
}

.carousel-control-prev{  /* ? ubica la flecha prev del carrusel a la izq */
	justify-content: start;
}

.carousel-control-next{/* ? ubica la flecha next del carrusel a la derecha */

	justify-content: flex-end;
}

.carousel-control-prev-icon, .carousel-control-next-icon{  /* ? Tamaño del contenedor siguiente y prev del carrusel */
	height: 8rem; 
	width: 3rem;
	background-color: rgba(0, 0, 0, 0.5);
}

.patron{ /* ? Ubica la imagen de adorno para la foto de la sección nosotros */
	background-image: url('../images/patron.png');
	width: 155px;
	height: 185px;
	position: absolute;
	box-shadow: -5px 5px 15px rgba(0, 0, 0, 0.2);
	left: -10px;
	top: -50px;
	z-index: -1;
}

.foto-nosotros{ /* ? Ubica la imagen del conentedor nosotros */
	background-image: url('../images/nosotros.png');
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	height: 550px;
	width: 490px;
	max-width: 90vw; /* ? para pantallas móviles */
}

.titulo-nosotros{  /* ? Estilo título del área nosotros */
	font-family: raleway, sans-serif;
	text-transform: capitalize;
	color: #040e27;
	font-size: 2.8rem;
}

.texto-nosotros p:first-of-type{ /* ? Estilo texto principal área nosotros */
	font-family: raleway;
	color: #040e27;
	font-size: 1.5rem;
	font-weight: 100;
}

.texto-nosotros p:last-of-type{  /* ? Estilos texto secundaroi área nosotros */
	font-family: raleway, sans-serif;
	color: #596672;
	font-size: 1.2rem;
	font-weight: 400;
	line-height: 2rem;
}